:root {
	--pink: #CC5B88;
	--green: #00A57B;
}

body{
	font-family: 'PT Sans', sans-serif;
}

.main-block{
	overflow-x: hidden;
	width: 100%;
	background: url(assets/bg.jpg);
	background-repeat: repeat;
	z-index: -2;
}

.fullwidth {
	width: 100%;
}

.center-flex-container{
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
	position: relative;
}

.center-flex-container{
	width: 100%;
	text-align: center;

}

.block {
	display: block;
}

.rainbow-line{
	height: 4px;
}

.link-catalog {
	color: var(--pink);
	text-decoration: none;
	font-size: 200%;
}

.link-catalog:hover {
	cursor: pointer;
	color: var(--green);
}


.menu {
	background: url(assets/menu-bg.png) no-repeat center top;
	background-size: cover;

	width: 100%;
	height: 60px;
	padding-left: 30px;
	padding-right: 10px;
	vertical-align: middle;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}


.menu-element{
	color: white;
	margin-top: auto;
	margin-bottom: auto;
	flex: 0 1 auto;
	font-weight: bold;
	font-size: calc(0.5vw + 12px);
}

.logo {
	width: 15%;
	top: 1%;
}

.section-green-name {
	margin-top: 17px;
	margin-bottom: 25px;
	text-shadow: #808080 0 4px 4px ;
	color: white;
	vertical-align: middle;
	position: relative;
	z-index: 2;
}

.green-ribbon {
	background: url(assets/green-ribbon.png);
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom: 20px;
	height: 70px;
	width: 80%;
	position: relative;
	z-index: 2;
}

.section-pink-name {
	margin-top: 12px;
	margin-bottom: 25px;
	text-shadow: #808080 0 4px 4px ;
	color: white;
	vertical-align: middle;
	position: relative;
	z-index: 2;
}

.pink-ribbon {
	background: url(assets/pink-ribbon.png);
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom: 20px;
	height: 70px;
	width: 80%;
	position: relative;
	z-index: 2;
}


.product-card{
	margin: 16px;
	cursor: pointer;
	transition: transform 0.3s;
} 

.product-card:hover {
	transform: scale(1.05);
    transition: transform 0.3s;
    z-index: 100;
} 

.product-text{
	font-size: 200%;
	color: var(--pink);
}

.card-img-top {
	max-width: 300px;
}

.text {
	line-height: 1.5;
	z-index: 99;
	position: relative;
}

.left-bottom-lime {
	position: absolute;
	left: -65px;
	top: 100px;
	z-index: 0;
}

.right-bottom-lime {
	position: absolute;
	right: -65px;
	top: 100px;
	z-index: 1;
}

.left-top-lime {
	position: absolute;
	left: -65px;
	top: 0px;
	z-index: 0;
}

.right-top-lime {
	position: absolute;
	right: -65px;
	top: 0px;
	z-index: 1;
}

@media (min-width: 900px) {

	.left-bottom-lime {
		left: 0px;
		top: 100px;
	}

	.right-bottom-lime {
		right: 0px;
		top: 100px;
	}

	.left-top-lime {
		left: 0px;
		top: 0px;
	}

	.right-top-lime {
		right: 0px;
		top: 0px;
	}

}


tr {
	background-color: #c7c7c7;
}

td {
	border: 1px solid black; text-align: center; vertical-align: middle; background-color: #d5d5d5;
}

.table-head {
	background-color: #c7c7c7;
}

.table-head-el {
	padding: 2px; border: 1px solid black; text-align: center; width: 25%;
}


.table-overflow {
	overflow-x: auto; overflow-y: hidden;
}